minio
django
psycopg2-binary
django-leaflet
django-leaflet-storage
psycopg2-binary
django-import-export
djangorestframework
pillow
drf-yasg
django-cors-headers
graphene-django
django-filter
paramiko
requests
django-cron
django-autocomplete-light
django-crontab
openpyxl
djangorestframework-gis
PyYAML
apscheduler
django-colorful
django-revproxy
python-decouple
djangorestframework-simplejwt
django-storages
whitenoise
channels
daphne
pyOpenSSL
cryptography

